/* Estilo nav */

.navbar-brand {
  font-family:'Times New Roman', Times, serif;
    font-size: 25px !important; }
.nav-link {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.navbar-brand:hover{
  color: #ffffff !important;
}

/*estilos en clases */
.ser {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.introduccion {
  font-weight: bold;
  padding: 10px; }

.mb-3 {
  margin: 15px;
  border: solid;
  background-color: #9b9b9b; }

.formulario {
  display: flex !important;
  justify-content: center !important; }

/* Variables */
/* estilo imagenes */
img {
  height: 40em;
  display: block;
  margin: 0px auto; }

/* estilo card bootstrap */
.card-img-top {
  width: 80% !important;
  height: 60%;}

.card {
  border-style: none;
  background-color: #4b515a;}



div {
  padding: 5px;
  background-color: #648b8b; }

  .btn--twitter {
    background-color: #55acee;
 }
 
 .btn--facebook {
    background-color: #3a5795;
 }
 
 .btn--send-mail {
    background-color: #C25E30;
 }

div {
  background-color:#4b515a;
  Text-align:center;
  Padding:0.5rem;
  Font-size:15px;
}

.box {
	Display:flex;
flex-direction:row;
justify-content:center;
}
.card-body {
  text-align: center !important;
}

.contenedor {
  display: grid;
  grid-template-areas: "header header header"
  "nav nav nav"
  "main main main"
  "footer footer footer";
}

.contenedor div {
  color: #000000;
  text-align: left;
}
/* fondo del body */
body {
  margin: 5px;
}
.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: nav;
}

.item-3 {
  grid-area: main;
}

.item-4 {
  grid-area: footer;
      
}

.sitio-en-construccion {
  width: 100%;
  height: auto;
}