/*estilos en clases */
.ser {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introduccion {
    font-weight: bold;
    padding: 10px;
    
}

.mb-3 {
    margin: 15px;
    border: solid;
    background-color: #9b9b9b;
}

.formulario {
    display: flex !important;
    justify-content: center !important;
}