/* Estilo nav */

.navbar-brand {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px !important;
}
.nav-link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  }
  .navbar-brand:hover{
    color: #ffffff !important;
  }